body {
    background-image: url("paper.gif");
    background-color: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Itim", cursive;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.title {
    margin-top: 15px;
    text-align: center;
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;
}

.container img {
    border-radius: 7px;
    object-fit: cover;
    height: 300px;
    margin: 10px;
    max-width: 100%;
    width: 290px;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
$timing: 265ms;
$iconColor: #00B5F5;
$accent: #002A8F;
$bluefade: #0043E0;
$gradient: #00B5F5;
@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}

body {
    background-color: rgba($iconColor, 0.05);
}

.social-container {
    width: 400px;
    margin: 40vh auto;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
    li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;
    }
    i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all $timing ease-out;
    }
    a {
        display: inline-block;
        &:before {
            @include transformScale();
            content: " ";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, $iconColor, $accent);
            transition: all $timing ease-out;
        }
        &:hover:before {
            transform: scale(0);
            transition: all $timing ease-in;
        }
        &:hover i {
            @include transformScale(2.2);
            color: $iconColor;
            background: -webkit-linear-gradient(45deg, $iconColor, $accent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;
        }
    }
}